	table
	{
		font-family: arial;
		font-size: 20px;
		table-layout: auto;
		width: 35%;
		text-align: left;
		margin-top: 20px;

	}
	thead
	{
		text-align: center;
	}
	h1
	{
		font-family: arial;
		
	}
	